/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";

// GENERAL
@import "base";
@import "fonts";

// LAYOUT
@import "layout/main";

// COMPONENTS
@import "components/nav";
@import "components/head";
@import "components/education";
@import "components/employment";
@import "components/portfolio";
@import "components/skills";
@import "components/hobbies";
@import "components/contact";


@import "print";
