.body{
  p:last-child{
    margin-bottom:0;
  }
}

.title-wrapper{
  h2{
    margin-bottom: 0;
    font-family: "Kaushan Script", cursive;
  }
  .subtitle{
    margin-bottom: $column-gutter/2;
  }
}


.inline-list{
  li{
    margin-bottom: $column-gutter/2;
  }
}