@media print {

  h1{
    font-size: 30px !important;
  }
  h2{
    font-size: 25px !important;
  }
  h3{
    font-size: 20px !important;
  }
  h4{
    font-size: 18px !important;
  }

  .column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child{
    float:left !important;
  }
  .row{
    max-width: 100% !important;
  }
  .label{
    padding: 0 !important;
  }

  main > section{
    min-height: auto !important;
    padding: 0 !important;
    border-bottom: 1px solid #ccc;
  }


  .employment article .group-left a,
  .head .status,
  img{
    display: none !important;
  }


  *{
    text-align: left !important;
  }



  .title-wrapper h2{
    font-family: $body-font-family;
  }


  .head{
    .ps{
      display: none;
    }
    .card{
      position: absolute;
      right: 15px;
      top: 55px;
      border: 1px solid #ccc;
    }
    .title h3, .title h4, .subtitle h3, .subtitle h4{
      padding:0 !important;
    }
    .slogan {
      margin-bottom: $column-gutter;
      .label{
        font-size: rem-calc(20) !important;
      }
    }
  }

  .education article{
    width: 50%;
    float:left;
    > a{
      display: none;
    }
    .caption{
      position: relative !important;
    }
  }

  .contact,
  .hobbies,
  .portfolio,
  .education,
  .skills,
  .employment{
    .title-wrapper,
    .title-wrapper{
      margin-top: $column-gutter;
      margin-bottom:0 !important;
    }
  }

  .skills {
    .skill-list > .skill{
      float: left;
      margin-right: $column-gutter/2;
      font-weight: bold;
      .popout{
        font-weight: normal;
        display: block !important;
        position: relative !important;
        width: auto !important;
        top: 0 !important;
        margin-left: 7px;
        font-style: italic;
      }
    }
    .logo-list li{
      float:left;
      width: auto;
      max-width: 110px;
      margin-right: $column-gutter/2;
      a{
        word-break: break-all;
      }
      img{
        display: block !important;
      }
    }
  }


  .portfolio article {
    > .inner-wrapper{
      padding: 0 !important;
    }
    .image{
      border:none !important;
      a{
        display: none;
      }
    }
    .technology-list .label{
      padding: 0 !important;
    }
  }
  .hobbies .title-wrapper {
    h2, .subtitle{
      padding: 0 !important;
    }
  }
  .hobby {
    .image{
      display: none;
    }
    > .hobby-wrapper{
      padding: 0 !important;
    }
  }

  .contact{
    .contact-information{
      .item{
        float: left;
        width: auto;

      }
    }
    footer{
      display: none;
    }
  }
  .portfolio,
  .contact,
  .hobbies,
  .skills,
  .employment{
    page-break-before: always;
  }

}

