.contact{
  padding-bottom: rem-calc(170);


  .contact-list{
    margin-left: 0;
    list-style: none;
    li{
      margin-bottom: $column-gutter/2;
      i.fa{
        font-size: rem-calc(20);
        margin-right: $column-gutter/2;
        color: $white;
      }
    }
  }

  .contact-information{
    .item{
      margin-bottom: $column-gutter/2;
    }
  }


  footer{
    position: absolute;
    bottom:0;
    background: $vapor;
    .footnote{
      margin: $column-gutter/2 0;
      color: $jet;
    }
  }
}

