.head{
  min-height: 1% !important;



  .group-left,
  .group-right{

  }

  .ps{
    text-align: center;
    margin-top: $column-gutter;
  }

  .headshot{
    max-width: 50%;
    margin: 0 auto $column-gutter/2 auto;
    display: block;
  }

  .page-title{
    text-align: center;
    margin-bottom: $column-gutter;
    h1{
      span{
        font-size: $h2-font-size - $h2-font-reduction;
      }
    }
  }

  .title,
  .subtitle{
    text-align: center;
    h3,h4{
      display: inline-block;
      padding: rem-calc(5) rem-calc(10);
      background: $teal;
    }
  }

  .slogan{
    font-size: rem-calc(20);
    text-align: center;
    i{
      color: $red;
    }
    .label{
      background-color: $teal;
      font-size: rem-calc(16);
    }
  }

  .card{
    margin-top: $column-gutter;

    padding: $column-gutter/2;
    color: $jet;

    background: $ghost;
    background: url('/images/invader.png') no-repeat center right $column-gutter $ghost;
  }

  .status{
    font-family: $ff-kaushan;
    font-size: rem-calc(28);
    margin-top: $column-gutter/2;
    text-align: center;
  }

}

@media #{$medium-up}{
  .head{
    .group-left,
    .group-right{

    }

    .page-title{
      text-align: center;
      h1{
        span{
          font-size: $h2-font-size;
        }
      }
    }

    .headshot{
      max-width: 100%;
    }

    .title{
    }
    .subtitle{
      margin-bottom: $column-gutter;
    }
    .card{
      max-width: rem-calc(325);
      margin-left: auto;
      margin-right: auto;
    }
    .status{
      margin-top: $column-gutter;
    }
  }
}

