.hobbies{
  h2, h3{
    color: $jet;
  }
  color: $jet;



  .title-wrapper{
    h2{
      background: $white;
      padding: $column-gutter/2 $column-gutter/2 0 $column-gutter/2;
    }
    .subtitle{
      background: $white;
      padding: 0 $column-gutter/2 $column-gutter/2 $column-gutter/2;
    }
  }
}


.hobby{
  margin-bottom: $column-gutter;
  > .hobby-wrapper{
    border-radius: $global-radius;
    background: $jet; //$teal;
    padding: $column-gutter/2;
    box-shadow: $box-shadow;
    color: $white;
  }
  .image{
    text-align: center;
    margin: $column-gutter/2 0;
    img{
      max-width: rem-calc(165);
    }
  }

  h4{
    text-align: center;
    text-transform: uppercase;
  }
  .icon{
    font-size: 100px;
    text-align: center;
  }


}