.skills{
  .title-wrapper{
    //margin-top: $column-gutter;
    margin-bottom: $column-gutter;
  }

  background: linear-gradient(0deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), linear-gradient(-90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 100% 100%;

  .skill-list{
    list-style:none;
    margin:0;
    > .skill{
      position: relative;

      border: rem-calc(1) solid $teal;
      padding: rem-calc(5) rem-calc(10);
      margin-bottom: $column-gutter/2;
      border-radius: $global-radius;
      .popout{
        display: none;
        width: 50%;
        position: absolute;
        top: rem-calc(35);
        right: $column-gutter/2;
        padding: rem-calc(5) rem-calc(10);
        background: $oil;
        z-index: 100;
        border-radius: $global-radius;
      }
      &:hover{
        .popout{
          display: block;
        }
      }
    }
  }
}



$skill-percentage: 100;

@mixin item-x {
  @for $i from 1 through $skill-percentage {
    .item-#{$i} {
      //width: $i * 1%;
      background-image:
        linear-gradient(
            to right,
            $teal,
            $teal $i * 1%,
            lighten($teal, 15%) $i * 1%,
            lighten($teal, 15%) 100%
        );
    }
  }
}

@include item-x;