.skills{
  .title-wrapper{
    //margin-top: $column-gutter;
    //margin-bottom: $column-gutter;
  }



  .logo-list{
    list-style:none;
    li{
      margin-bottom: $column-gutter/2;
    }
  }

  .skill-list{
    list-style:none;
    margin:0;
    > .skill{
      position: relative;

      border: rem-calc(1) solid $teal;
      padding: rem-calc(5) rem-calc(10);
      margin-bottom: $column-gutter/2;
      border-radius: $global-radius;
      .popout{
        display: none;
        width: 50%;
        position: absolute;
        top: rem-calc(35);
        right: $column-gutter/2;
        padding: rem-calc(5) rem-calc(10);
        background: $oil;
        z-index: 101;
        border-radius: $global-radius;
      }
      &:hover{
        .popout{
          display: block;
        }
      }
    }
  }
}


@media #{$small-only}{
  .skills{
    .logo-list{
      li{
      }
    }
  }
}


$skill-percentage: 100;

@mixin item-x {
  @for $i from 1 through $skill-percentage {
    .item-#{$i} {
      //width: $i * 1%;
      background-image:
        linear-gradient(
            to right,
            $teal,
            $teal $i * 1%,
            lighten($teal, 15%) $i * 1%,
            lighten($teal, 15%) 100%
        );
    }
  }
}

@include item-x;